av~=14.4.0
opencv-python~=4.12.0.88
numpy~=2.2.6
dnspython~=2.8.0
idna~=3.10
cryptography~=46.0.1
pip~=25.2
attrs~=25.3.0
pyOpenSSL~=25.3.0
cffi~=2.0.0
pyee~=13.0.0
multidict~=6.6.4
propcache~=0.3.2
ifaddr~=0.2.0
aiortc~=1.13.0
aioice~=0.10.1
pylibsrtp~=0.12.0
google-crc32c~=1.7.1
yarl~=1.20.1
aiohttp~=3.12.15
aiosignal~=1.4.0
frozenlist~=1.7.0
aiohappyeyeballs~=2.6.1
pycparser~=2.23




192.168.178.159